html {
    font-size: 100%;
}

a, a:link, a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    width: 100%;
}

.information {
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 320px;
    height: 50px;
    margin-top: 50px;
}

.search-access {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-left: 17rem;
}
.search-bar {
    position: relative;
}

.form-bar {
    border: solid #E5E5E5 1px;
    height: 40px;
    border-radius: 30px;
    width: 300px;
    padding: 0px 20px;
    z-index: 1;
}

.form-img {
    position:absolute;
    z-index: 2;
    top: 9px;
    left: 260px;

}

.form-img img{
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
    height: 23px;
    max-width: 25px;
}

.form-bar::placeholder {
    color: #b9b8b8;
}

.access {
    color: black;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    display: inline-block;
    border: solid #E5E5E5 1px;
    margin-left: 1rem;
    border-radius: 5px;
}

.tel-time {
    display: flex;
    margin-top: 10px;
    margin-left: 5rem;
    vertical-align: bottom;
    height: 40px;
}

.tel {
    display: flex;
    margin-right: 5px;
    color: #1960a7;
}


.tel-title {
    margin-right: 0.9rem;
    font-size: 0.9rem;
    line-height: 40px;
    font-weight: bold;
}

.tel-number {
    margin-right: 0.9rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.time {
    font-size: 0.75rem;
    font-weight: bold;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    height: 70px;
    font-size: 14px;
    font-family: "Meiryo"、"メイリオ";
    font-weight: bold;
}

.main-nav li {
    border-left: solid 1px #d3d3d3;
    flex-grow: 1;
}

.item {
    line-height: 4.5rem;
    text-align: center;
    width: 110px;
    border-top: solid 4px rgba(0,0,0,0);
}

.item a {
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;

}

.item-long {
    line-height: 1.3rem;
    text-align: center;
    width: 110px;
    border-top: solid 4px rgba(0,0,0,0);
}

.item-long a {
    color: black;
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}

.item-blue {
    background-color: #1960a7;
    line-height: 4.5rem;
    border-top: solid 4px rgba(0,0,0,0);
}

.item-blue a {
    color: white;
    display: block;
    padding-left: 1rem;

}

.item-blue img {
    vertical-align: middle;
}

.item-orange {
    background-color: #e78103;
    line-height: 4.5rem;
    border-top: solid 4px rgba(0,0,0,0);
}

.item-orange a {
    color: white;
    display: block;
    padding-left: 1rem;
}

.item-orange img {
    vertical-align: middle;
}

.main-current {
    color: #1960a7;
    background-color: lightgrey;
    border-top: solid 4px #1960a7;
}

.main-current a {
    color: #1960a7;
}

.bg-main {
    background-color: #f5f5f5;
}

.bg-travel {
    background-color: #203744;
}


.travel-nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    height: 60px;
    font-size: 14px;
    font-family: "Meiryo"、"メイリオ";
    font-weight: bold;

}

.travel-nav li {
    border-left: solid 1px #d3d3d3;
    flex-grow: 1;
}

.travel-item {
    width: 100%;
    line-height: 3.8rem;
}

.travel-item a{

    padding-left: 4rem;
    display: block;
    color: white;
    font-size: 1rem;
}

.travel-item img {
    vertical-align: middle;
}

.travel-item-long a {

    padding-left: 2.5rem;
}

.travel-item-current {
    color:white;
    background-color: #1960a7;
}

.last {
    border-right: solid 1px #d3d3d3;
}



.abroad-information {
    width: 1000px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 2rem;
}


.abroad-feature {
    width: 70%;
}

.abroad-feature > div {
    width: 100%;
    position: relative;
}

.feature-img {
    width: 100%;
}

.bg-feature {
    position: absolute;
    background: rgba(25,96,167,0.8);
    bottom: 5px;
}

.feature-sentence {
    bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    max-height: 650px;
}

.feature-button {
    display: inline-block;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    color: #1960a7;
    font-weight: bold;
    padding: 0.5rem 4.5rem 0.5rem 4.5rem;
    margin-left: 400px;
    margin-bottom: 20px;

}



.abroad-news {
    width: 30%;
    height: 95%;
    margin-left: 1.5rem;
    padding-bottom: 2rem;
    border-top: solid 4px #1960a7;
    border-right: solid 1px #d3d3d3;
    border-left: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
    background-color: white;
}

.one-news{
    margin: auto;
    max-width: 85%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px #d3d3d3;
    font-size: 0.75rem;
}

.news-date {
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.news-tag {
    padding-bottom: 0.2rem;
}

.new-info {
    display: inline-block;
    color: white;
    background-color: #c9171e;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
}

.update-info {
    display: inline-block;
    color: white;
    background-color: #1960a7;
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
}

.topic-type {
    display: inline-block;
    color: #1960a7;
    border: solid 1px #1960a7;
    padding: 0.05rem 0.8rem 0.05rem 0.8rem;
}

.news-topic {
    padding-top: 0.3rem;
}

.news-topic a{
    color: black;
}

.abroad-news p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    text-align: right;
    font-size: 0.8rem;
}

.attention-news {
    width: 1000px;
    margin: auto;
    margin-top: 3rem;
    background-color: #fff4f9;
}

.attention-news ul {

    border: solid 1px #c9171e;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

.attention-news li {
    color: #c9171e;
    list-style-type: disc;
    list-style-position: inside;
    font-size: 0.8rem;
}

.search-wrapper {
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 2.5rem;
    justify-content: center;
}

.search-left {
    width: 40%;
    margin-right: 1.5rem;
}

.search-right {
    width: 60%;
}

.search-condition {
    border: solid 1px #d3d3d3;
    margin-bottom: 20px;
}
.search-condition h3 {
    display: block;
    color: white;
    background-color: #1960a7;
    padding: 1rem;
}

.search-condition img {
    vertical-align: middle;
}

.search-condition form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-condition select {
    margin-top: 10px;
    padding: 0px 20px;
}

.form-condition {
    margin-bottom: 20px;
}

.form-condition ul {
    margin-top: 10px;
}

.form-condition li {
    margin-top: 10px;
}

.disc {
    position: relative;
    padding-left: 15px;
}

.disc::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    font-size: 1.5rem;
    display: block;
    width: 7px;
    height: 7px;
    background: #1960a7;
    border-radius: 5px;
}

.form-condition input {
    padding: 0px 5px;
}

.form-condition span {
    font-weight: bold;
    font-size: 0.8rem;
}

.select-container {
    position: relative;
}

.select-container select {
    -webkit-appearance: none;
    appearance: none; /* デフォルトのスタイルを無効 */
}

.select-container select::-ms-expand {
    display: none; /* デフォルトのスタイルを無効(IE用) */
}

  /* セレクトボックスの矢印デザイン変更 */
.select-container::before {
    border-bottom: 5px solid #a9a9a9;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    width: 0;
}

.select-container::after {
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #a9a9a9;
    content: "";
    position: absolute;
    right: 15px;
    top: 30px;
    width: 0;
}



.form-long {
    border: solid 1px #d3d3d3;
    width: 330px;
    height: 35px;
    border-radius: 10px;
}

.form-middle {
    border: solid 1px #d3d3d3;
    width: 130px;
    height: 35px;
    border-radius: 10px;
}

.form-short {
    border: solid 1px #d3d3d3;
    width: 50px;
    height: 35px;
    border-radius: 10px;
}

.radio {
    margin-top: 20px;
}

.radio span{
    font-weight: normal;
    font-size: 1rem;
    margin-right: 50px;
}



.search-result {
    width: 330px;
    height: 70px;
    margin: auto;
    display: block;
    background-color: #f3f3f2;
    display: flex;
    justify-content: space-between;

    position: relative;
}

.search-result::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    margin: auto;
    border-top: solid 10px #f3f3f2;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.search-result p{
    padding-left: 2rem;
    line-height: 70px;
    font-weight: bold;
}

.search-result h1{
    padding-right: 3rem;
    line-height: 70px;
    color: #a9a9a9;
    font-weight: bold;
}

.search-comment {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;

}

.introduce-events {
    border: solid 1px #d3d3d3;
    margin-top: 30px;

}

.introduce-events h4 {
    display: block;
    color: white;
    background-color: #203744;
    padding: 0.5rem 0 0.5rem 2rem;
}

.introduce-events p {
    text-align: right;
    font-size: 0.9rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;

}

.one-event {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border-bottom: dotted 1px #d3d3d3;
}

.one-event li {
    margin-bottom: 10px;
}

.event-date {
    font-weight: bold;
    font-size: 0.8rem;
    margin-right: 10px;
}

.charge-event {
    display: inline-block;
    color: #1960a7;
    border: solid 1px #1960a7;
    padding: 0.05rem 1rem 0.05rem 1rem;
    font-size: 0.7rem;
    margin-right: 10px;
}

.can-participate {
    display: inline-block;
    color: white;
    background-color: #b79b5b;
    padding: 0.1rem 1.5rem 0.1rem 1.5rem;
    font-size: 0.7rem;
}

.event-title {
    font-size: 0.9rem;
}

.one-event a {
    color: black;
    text-decoration:underline;
}

.search-map {

}

.search-map img {
    vertical-align: middle;
}

.search-map h3{
    display: block;
    color: white;
    background-color: #1960a7;
    padding: 1rem;
}

.search-map a {
    display: inline-block;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-right: 10px;
    border: solid 1px #d3d3d3;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0.5px 0.5px 2px #f5f5f5;
}

.world-map {
    width: 100%;
    position: relative;
    z-index: 1;
}

.map-poles {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 200px;
    z-index: 2;

}
.map-europe {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 50px;
}
.map-china {
    position: absolute;
    z-index: 2;
    top: 85px;
    left: 240px;
}
.map-north-america {
    position: absolute;
    z-index: 2;
    top: 110px;
    right: 80px;
}
.map-asia-india {
    position: absolute;
    z-index: 2;
    top: 135px;
    left: 250px;
}
.map-middle-east-central-asia {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 65px;
}
.map-africa {
    position: absolute;
    z-index: 2;
    top: 230px;
    left: 40px;
}
.map-latin-america-caribbean {
    position: absolute;
    z-index: 2;
    top: 230px;
    right: 43px;
}
.map-oceania-pacific {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 230px;
}

.search-purpose {
    background-color: #e5f2ff;
    margin-bottom: 20px;
}

.search-purpose h3 {
    color: #1960a7;
    padding: 1rem 0 1rem 2rem;
    font-size: 1rem;
}

.search-purpose img {
    vertical-align: middle;
    padding-right: 5px;
}

.purpose-keyword {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

.purpose-keyword a {
    display: inline-block;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-right: 5px;
    margin-bottom: 10px;
    border: solid 1px #d3d3d3;
    font-size: 0.85rem;
    font-weight: bold;
    color: #1960a7;
    white-space: nowrap;
    background-color: white;
    box-shadow: 2px 2px 4px #c0c0c0;
}

.search-departure h4 {
    margin-bottom: 10px;
}

.search-departure img {
    vertical-align: middle;
}

.departure-month {
    display: flex;
    margin-bottom: 20px;

}

.departure-month a {
    display: inline-block;
    padding: 1rem;
    margin-right: 10px;
    border: solid 1px #d3d3d3;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    border-radius: 3px;
    position: relative;
}

.departure-month a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: solid 10px transparent;
    border-left: solid 10px transparent;
    border-right: solid 10px #1960a7;
}

.keywords {
    margin-left: 30px;
    padding-bottom: 20px;
}

.keywords a{
    color: black;
    display: inline-block;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin-right: 5px;
    margin-bottom: 10px;
    border: solid 1px #d3d3d3;
    white-space: nowrap;
    background-color: white;
}

.search-keyword {
    background-color: #e8ecef;
}

.search-keyword span {
    color: #1960a7;
}

.search-keyword h3 {
    padding: 1rem;
    margin-left: 10px;
}

.sns{
    margin-top: 70px;
    background-color: #e8ecef;
    height: 7rem;
    display: flex;
    justify-content: center;
}

.sns-link  {
    color: black;
    display: inline-block;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: solid 1px #d3d3d3;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.sns span {
    color: #1960a7;
    margin-left: 70px;
}

.sns-img {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}

.recommend-title{
    color: white;
    padding-top: 10px;
    padding-left: 18rem;
}

.recommend-tour h3{
    padding-top: 3rem;
    padding-left: 10rem;
}

.look-recommend {
    color: black;
    display: inline-block;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin-left: 70rem;
    margin-bottom: 4rem;
    white-space: nowrap;
    background-color: white;
    position: relative;
}

.look-recommend::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    border-bottom: solid 6px transparent;
    border-top: solid 6px transparent;
    border-left: solid 6px #1960a7;
}

.inquiry {
    background-color: #e8ecef;
}

.inquiry-header {
    text-align: center;
    padding-top: 3rem;
    margin: auto;
    margin-bottom: 30px;
    color: #1960a7;
}

.inquiry-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 100px;
    width: 1000px;
}

.tel-inquiry {
    display: block;
    background-color: white;
    width: 490px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.web-inquiry {
    display: block;
    background-color: white;
    width: 490px;
    margin-bottom: 20px;
}
.magazine-inquiry {
    display: block;
    background-color: white;
    width: 490px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.pamphlet-inquiry {
    display: block;
    background-color: white;
    width: 490px;
    margin-bottom: 20px;
}

.inquiry-title {
    text-align: center;
    padding-top: 20px;
}

.tel-num {
    text-align: center;
    color: #1960a7;
    font-size: 3rem;
    transform: scale( 1 , 2.1 );
}

.tel-img {
    width: 35px;
    height: 45px;
    margin-right: 5px;
}

.tel-info {
    text-align: center;
}

.tel-info p {
    color: #1960a7;
    font-weight: bold;
    margin-bottom: 30px;
}

.web-info a{
    margin: 20px 50px 10px 50px;
    padding: 20px 60px 20px 80px;
    display: block;
    background-color: #1960a7;
    color: white;
    width: 400px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #c0c0c0;

}

.web-info img {
    vertical-align: middle;
}

.mail-magazine {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.mail-magazine a{
    margin: 20px 50px 10px 50px;
    padding: 20px 60px 20px 140px;
    display: block;
    width: 400px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #c0c0c0;
    border: solid 1px #d3d3d3;
}

.mail-magazine img {
    position: absolute;
    top: 50px;
    left: 140px;
}

.pamphlet {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.pamphlet a{
    margin: 20px 50px 10px 50px;
    padding: 10px 20px 10px 150px;
    display: block;
    width: 400px;
    color: white;
    background-color: #e78103;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #c0c0c0;
    border: solid 1px #d3d3d3;
    
}

.pamphlet img {
    position: absolute;
    top: 45px;
    left: 140px;
}

.banners {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.banners span{
    font-size: 2rem;
    color: #1960a7;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.banner {
    margin-left: 10px;
}

.page-upper {
    border-bottom: solid 3px #1960a7;
    margin-bottom: 50px;
}

.page-upper div {
    width: 1000px;
    margin: auto;
    text-align: right;
}

.go-upper {
    display: inline-block;
    background-color: #1960a7;
    color: white;
    padding: 10px 30px;
}

.page-links {
    display: flex;
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}

.page-links a {
    color: black;
}

.link-header {
    border-bottom: solid 1px #d3d3d3;
    display: inline-block;
    width: 300px;
    padding-bottom: 10px;
    font-weight: bold;
}

.one-line {
    margin-right: 50px;
    width: 300px;
}

.one-link {
    margin-top: 30px;
}

.one-link img {
    vertical-align: middle;
    margin-right: 5px;
}

.abroad-domestic-tour {
    margin-left: 50px;
    color: #1960a7;
}
.abroad-free {
    margin-left: 130px;
    color: #1960a7;
}
.tour-features {
    margin-left: 210px;
    color: #1960a7;
}
.event-customer {
    margin-left: 130px;
    color: #1960a7;
}
.blog-sns {
    margin-left: 150px;
    color: #1960a7;
}

.link-lists {
    margin-top: 30px;
}

.link-lists li{
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.associations {
    width: 1000px;
    margin: auto;
}

.associations img{
    width: 50px;
    height: 50px;
}

footer {
    margin-top: 20px;
    
}

.footer-menu {
    background-color: #e8ecef;
}

.footer-menu div {
    width: 1000px;
    margin: auto;
}

.footer-menu ul {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

.footer-menu li {
    color: #696969;
    margin-right: 5px;
}

.footer-menu a {
    color: #696969;
}

.copy-right {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.7rem;
}

.btn-side ul {
    text-align: right;
}
.btn-side li img{
    vertical-align: top;
}

#content {
    position: relative;
}

.sticky-absolute {
    position: absolute;
    top: 0;
    right: 0;
}
.sticky-fixed {
    position: fixed;
    top: 0;
    right: 0;
}