html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    width: 100%;
}

.information {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #FFE;
}

.logo {
    width: 320px;
    height: 50px;

    margin-top: 30px;
}

.search-access {
    display: flex;
    justify-content: right;
}

.access {

}

.tel-time {
    display: flex;
    margin-top: 5px;
}

.tel {
    display: flex;
    margin-right: 5px;
}

.tel-title {
    display: inline-block;
    margin-right: 5px;
}

.tel-number {
    display: inline-block;
}